* {
	margin: 0px;
	padding: 0px;
}

html,body {
	position: static;
	width: 100%;
	height: 100%;
}

body {
	background: radial-gradient(circle farthest-corner, #00BFFF 60%, #01A0D1 120%);
}

body:before {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url('../img/invitationBG.svg') repeat;
	background-size: 209.5px auto;
	transition: background 0.2s 0s ease-out;
}

body:after {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.14);
}

body main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

/* SVG */
picture {
	display: none;
	margin: auto;
	cursor: pointer;
	overflow: visible;
	position: relative;
	transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	transition: transform 0.1s, -webkit-transform 0.1s;
}

svg {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition: 0.2s 0s ease-out;
}

@media (max-width: 760px) {
	svg {
		transition-duration: 0.24s;
	}

	svg#letterSVG {
		transition-delay: 0.0s;
	}
}
/**/

/* FOOTER */
footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 6%;
	display: block;
	width: 100%;
	text-align: center;
	transition: opacity 0.2s;
}

footer h1 {
	display: inline-block;
	transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
	transition: transform 0.1s, -webkit-transform 0.1s;
	cursor: pointer;
}

footer h1 > * {
	display: inline-block;
	vertical-align: middle;
	font-size: 30px;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Roboto Light", sans-serif;
	font-weight: 300;
	text-shadow: 0px 0px 5px rgb(2, 46, 130);
	color: rgba(255,255,255,1);
}

footer img {
	display: none;
	width: 24px;
	height: 24px;
}

@media (min-width: 761px) {
	footer h1 > *{
		font-size: 24px;
	}
}

@media (max-width: 760px) and (orientation:landscape) {
	footer {
		display: none;
	}
}

@media (min-width: 761px) {
	footer.calendar img {
	display: inline-block;
	}
}
/* */

/* HOVER */
@media (min-width: 761px) {
	picture:hover:not(.open) svg.envelope {
		-webkit-transform: translate3d(0px, 2%,0px);
		transform: translate3d(0px, 2%,0px);
	}	

	picture:hover:not(.open) svg#letterSVG {
		-webkit-transform: translate3d(0px, -2%,0px);
	    transform: translate3d(0px, -2%,0px);
	}

	footer h1:hover {
		-webkit-transform: scale(1.1,1.1);
		    -ms-transform: scale(1.1,1.1);
		        transform: scale(1.1,1.1);
	}
}

/**/



/* OPEN */
body.open {
	cursor: pointer;
}

body.open footer {
	-webkit-animation: footerAnimation1 0.4s forwards;
	        animation: footerAnimation1 0.4s forwards;
}

body.close footer {
	-webkit-animation: footerAnimation2 0.4s forwards;
	        animation: footerAnimation2 0.4s forwards;
}

@-webkit-keyframes footerAnimation1 {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes footerAnimation1 {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@-webkit-keyframes footerAnimation2 {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes footerAnimation2 {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

body.open:after {
	background: rgba(0,0,0,0.40);
}

picture.open svg#letterSVG {
	-webkit-transform: scale(1.3,1.3);
	    -ms-transform: scale(1.3,1.3);
	        transform: scale(1.3,1.3); 
}

@media (max-width: 760px) {
	picture.open svg#letterSVG {
	-webkit-transform: scale(1.6,1.6);
	    -ms-transform: scale(1.6,1.6);
	        transform: scale(1.6,1.6); 
	}
}

picture.touchstart {
	-webkit-transform: scale(0.85,0.85);
	    -ms-transform: scale(0.85,0.85);
	        transform: scale(0.85,0.85);
}
/**/